@charset "UTF-8";
html, body {
  margin: 0;
  padding: 0;
  height: 100%;
  width: 100%;
}

body {
  background-color: #fff;
  font-family: monospace;
  overflow: hidden;
  top: 0;
  display: flex;
  justify-content: center;
  align-items: center;
}

ul {
  list-style: none;
  margin: 0;
  padding: 0;
}
ul li {
  cursor: pointer;
  padding: 6px 20px;
  font-size: 1rem;
}

button {
  opacity: 0.6;
  background-color: transparent;
  position: fixed;
  z-index: 2;
  top: 24px;
  left: 24px;
  border: none;
  width: 36px;
  height: 30px;
  outline: none;
  transition: opacity 0.2s ease-out;
  cursor: pointer;
}
button:before {
  content: "";
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  margin: auto;
  right: auto;
  width: 100%;
  background: linear-gradient(to bottom, #333333, #333333 20%, transparent 20%, transparent 40%, #333333 40%, #333333 60%, transparent 60%, transparent 80%, #333333 80%, #333333 100%);
  transition: opacity 0.2s ease-out, width 0.2s 0.2s ease-out;
}
button:after {
  opacity: 0;
  content: '×';
  color: rgba(51, 51, 51, 0.50);;
  position: absolute;
  top: 16px;
  left: -4px;
  font-family: Arial, sans-serif;
  font-size: 76px;
  line-height: 0;
  transition: opacity 0.4s ease-out;
}
button:active {
  -webkit-transform: translateY(2px);
          transform: translateY(2px);
}
button:hover {
  opacity: 1;
}
.open button {
  opacity: 1;
}
.open button:before {
  opacity: 0;
  width: 0;
}
.open button:after {
  opacity: 1;
  -webkit-transform: translate3d(0, 0, 0) rotate(360deg);
          transform: translate3d(0, 0, 0) rotate(360deg);
  transition: opacity 0.4s 1s ease-out, -webkit-transform 0.4s 1s ease-out;
  transition: transform 0.4s 1s ease-out, opacity 0.4s 1s ease-out;
  transition: transform 0.4s 1s ease-out, opacity 0.4s 1s ease-out, -webkit-transform 0.4s 1s ease-out;
}

nav {
  z-index: 1;
  position: fixed;
  top: -100%;
  left: 0;
  width: 100%;
  height: 100%;
  -webkit-transform: translate3d(0, 0, 0);
          transform: translate3d(0, 0, 0);
  -webkit-backface-visibility: hidden;
          backface-visibility: hidden;
  overflow: hidden;
}
nav:before {
  content: '';
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  margin: auto;
  background: rgba(255, 255, 255, 0.5);
  width: 100%;
  height: 0;
  padding-bottom: 100%;
  border-radius: 100%;
  -webkit-transform: scale(0.04), translateY(9999px);
          transform: scale(0.04), translateY(9999px);
  overflow: hidden;
}
.open nav {
  top: 0;
  display: flex;
  justify-content: center;
  align-items: center;
}
.open nav:before {
  -webkit-animation: menu-animation 0.8s ease-out forwards;
          animation: menu-animation 0.8s ease-out forwards;
}

ul.menu {
  /* position: fixed;
  top: 50%;
  left: 50%;
  -webkit-transform: translate3d(-50%, -50%, 0);
          transform: translate3d(-50%, -50%, 0);
  -webkit-backface-visibility: hidden;
          backface-visibility: hidden;
  -webkit-perspective: 1000;80vw
          perspective: 1000;80vw
  color: #333; */
  margin: auto;
}
ul.menu li {
  opacity: 0;
  text-align: center;
  -webkit-transform: translate3d(0, 36px, 0);
          transform: translate3d(0, 36px, 0);
}
ul.menu li:before {
  content: '';
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  margin: auto;
  left: auto;
  background-color: rgba(255, 255, 255, 0.5);
  height: 100%;
  width: 0;
  overflow: hidden;
  transition: width 0.14s ease-out;
}
ul.menu li:after {
  opacity: 0;
  content: attr(data-text);
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  margin: auto;
  color: #333333;
  overflow: hidden;
  -webkit-transform: translate(-24px, 6px);
          transform: translate(-24px, 6px);
  transition: opacity 0.1s ease-out, -webkit-transform 0.1s ease-out;
  transition: transform 0.1s ease-out, opacity 0.1s ease-out;
  transition: transform 0.1s ease-out, opacity 0.1s ease-out, -webkit-transform 0.1s ease-out;
}
ul.menu li:hover:before {
  left: 0;
  right: auto;
  width: 100%;
}
ul.menu li:hover:after {
  opacity: 1;
  padding: 0 20px;
  -webkit-transform: translate(0px, 6px);
          transform: translate(0px, 6px);
  transition: opacity 0.2s 0.14s ease-out, -webkit-transform 0.2s 0.14s ease-out;
  transition: transform 0.2s 0.14s ease-out, opacity 0.2s 0.14s ease-out;
  transition: transform 0.2s 0.14s ease-out, opacity 0.2s 0.14s ease-out, -webkit-transform 0.2s 0.14s ease-out;
}
.open ul.menu li {
  opacity: 1;
  -webkit-transform: translate3d(0, 0, 0);
          transform: translate3d(0, 0, 0);
  transition: opacity 0.2s ease-out, -webkit-transform 0.2s ease-out;
  transition: transform 0.2s ease-out, opacity 0.2s ease-out;
  transition: transform 0.2s ease-out, opacity 0.2s ease-out, -webkit-transform 0.2s ease-out;
}
.open ul.menu li:nth-child(1) {
	transition-delay: 0.75s;
  }
  .open ul.menu li:nth-child(2) {
	transition-delay: 0.85s;
  }
  .open ul.menu li:nth-child(3) {
	transition-delay: 0.95s;
  }
  .open ul.menu li:nth-child(4) {
	transition-delay: 1.05s;
  }
  .open ul.menu li:nth-child(5) {
	transition-delay: 1.15s;
  }
  .open ul.menu li:nth-child(6) {
	transition-delay: 1.25s;
  }
  .open ul.menu li:nth-child(7) {
	transition-delay: 1.35s;
  }
  .open ul.menu li:nth-child(8) {
	transition-delay: 1.45s;
  }
  .open ul.menu li:nth-child(9) {
	transition-delay: 1.55s;
  }
  .open ul.menu li:nth-child(10) {
	transition-delay: 1.65s;
  }
  .open ul.menu li:nth-child(11) {
	transition-delay: 1.75s;
  }
  .open ul.menu li:nth-child(12) {
	transition-delay: 1.85s;
  }
  .open ul.menu li:nth-child(13) {
	transition-delay: 1.95s;
  }
  .open ul.menu li:nth-child(14) {
	transition-delay: 2.05s;
  }
  .open ul.menu li:nth-child(15) {
	transition-delay: 2.15s;
  }
  .open ul.menu li:nth-child(16) {
	transition-delay: 2.25s;
  }
  .open ul.menu li:nth-child(17) {
	transition-delay: 2.35s;
  }
  .open ul.menu li:nth-child(18) {
	transition-delay: 2.45s;
  }
  .open ul.menu li:nth-child(19) {
	transition-delay: 2.55s;
  }
  .open ul.menu li:nth-child(20) {
	transition-delay: 2.65s;
  }
  .open ul.menu li:nth-child(21) {
	transition-delay: 2.75s;
  }
  .open ul.menu li:nth-child(22) {
	transition-delay: 2.85s;
  }
  .open ul.menu li:nth-child(23) {
	transition-delay: 2.95s;
  }
  .open ul.menu li:nth-child(24) {
	transition-delay: 3.05s;
  }
  .open ul.menu li:nth-child(25) {
	transition-delay: 3.15s;
  }
  .open ul.menu li:nth-child(26) {
	transition-delay: 3.25s;
  }
  .open ul.menu li:nth-child(27) {
	transition-delay: 3.35s;
  }
  .open ul.menu li:nth-child(28) {
	transition-delay: 3.45s;
  }
  .open ul.menu li:nth-child(29) {
	transition-delay: 3.55s;
  }

article {
  /* padding: 24px;
  max-width: 600px;
  margin: 60px auto; */
  transition: 0.2s ease-out;
}
.open article {
  -webkit-transform: scale(0.75);
          transform: scale(0.75);
  transition: -webkit-transform 0.2s 0.41s ease-out;
  transition: transform 0.2s 0.41s ease-out;
  transition: transform 0.2s 0.41s ease-out, -webkit-transform 0.2s 0.41s ease-out;
}

@-webkit-keyframes menu-animation {
  0% {
    opacity: 0;
    -webkit-transform: scale(0.04) translateY(300%);
            transform: scale(0.04) translateY(300%);
  }
  40% {
    -webkit-transform: scale(0.04) translateY(0);
            transform: scale(0.04) translateY(0);
    transition: ease-out;
  }
  40% {
    -webkit-transform: scale(0.04) translateY(0);
            transform: scale(0.04) translateY(0);
  }
  60% {
    opacity: 1;
    -webkit-transform: scale(0.02) translateY(0px);
            transform: scale(0.02) translateY(0px);
  }
  61% {
    -webkit-transform: scale(0.04);
            transform: scale(0.04);
  }
  99.9% {
    height: 0;
    padding-bottom: 100%;
    border-radius: 100%;
  }
  100% {
    -webkit-transform: scale(2);
            transform: scale(2);
    height: 100%;
    padding-bottom: 0;
    border-radius: 0;
  }
}

@keyframes menu-animation {
  0% {
    opacity: 0;
    -webkit-transform: scale(0.04) translateY(300%);
            transform: scale(0.04) translateY(300%);
  }
  40% {
    -webkit-transform: scale(0.04) translateY(0);
            transform: scale(0.04) translateY(0);
    transition: ease-out;
  }
  40% {
    -webkit-transform: scale(0.04) translateY(0);
            transform: scale(0.04) translateY(0);
  }
  60% {
    opacity: 1;
    -webkit-transform: scale(0.02) translateY(0px);
            transform: scale(0.02) translateY(0px);
  }
  61% {
    -webkit-transform: scale(0.04);
            transform: scale(0.04);
  }
  99.9% {
    height: 0;
    padding-bottom: 100%;
    border-radius: 100%;
  }
  100% {
    -webkit-transform: scale(2);
            transform: scale(2);
    height: 100%;
    padding-bottom: 0;
    border-radius: 0;
  }
}


article, #threesixty, #threesixty_images, #threesixty_images li {
	margin: auto;
    width: 100vw;
}
/*
	Defines the criteria for the max. 1024px wide tablets portrait mode and sets the image slider dimensions and centering according to it.
*/
@media	screen and (max-device-width: 1024px) and (orientation:portrait) {
	#threesixty {
		width:720px;
		height:450px;
		margin-left:-360px;
		margin-top:-225px;
	}
}
/*
	Defines the criteria of the max. 480px wide mobiles' landscape mode and sets the image slider dimensions and centering according to it.
*/
@media	screen and (max-device-width: 480px) and (orientation:landscape),
				screen and (-webkit-min-device-pixel-ratio: 2) and (orientation:landscape) {
	#threesixty {
		width:360px;
		height:225px;
		margin-left:-180px;
		margin-top:-113px;
	}
}
/*
	Defines the criteria of the max. 480px wide mobiles' portrait mode and sets the image slider dimensions and centering according to it.
*/
@media	screen and (max-device-width: 480px) and (orientation:portrait),
				screen and (-webkit-min-device-pixel-ratio: 2) and (orientation:portrait) {
	#threesixty {
		width:320px;
		height:200px;
		margin-left:-160px;
		margin-top:-100px;
	}
}
/*
	Makes the image slider invisible by default
*/
#threesixty_images {
	display: none;
}
/*
	Sets every image in the slider to be absolute positioned and dynamically sized.
*/
#threesixty img {
	position: absolute;
    top: 0;
    width: 70vw;
    bottom: 0;
    margin: auto;
    left: 0;
    padding: 15vw;
}
/*
	Sets the style of the visible current frame of the image slider animation
*/
.current-image {
	visibility:visible;
	width:100vw;
}
/*
	Sets the style of the visible "previous" frame of the image slider animation
*/
.previous-image {
	visibility:hidden;
	width:0;
}
/*
	Sets the dimensions of the CanvasLoader placeholder <div>, it also centeres it horizontally and vertically inside the wrapper and makes it invisible by default
*/
#spinner {
	position:absolute;
	left:50%;
	top:50%;
	width:90px;
	height:90px;
	margin-left:-45px;
	margin-top:-50px;
	display:none;
}
/*
	Sets the style of the percentage <span> of the preloader by setting its dimensions and centering it horizontally and vertically 
*/
#spinner span {
	position:absolute;
	top:50%;
	width:100%;
	color:#333;
	font:0.8em Arial, Verdana, sans;
	text-align:center;
	line-height:0.6em;
	margin-top:-0.3em;
}

